*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Raleway";
}
body{
   background-color: #f1f1f1;
   user-select: none;
   overflow-x: hidden;
}
.container{
   max-width: 1400px;
   margin: 0 auto;


}

a{
   text-decoration: none;
   color:red;
}

.muted{
   color:rgba(0,0,0,0.5);
}

img{
   filter:brightness(0.7);
   transition: filter 0.7s;

   &:hover{
      filter:brightness(1);
   }
}

.dropdown-content{
   background-color: #121d30;
   display:block;
   max-height: 0px;
   overflow: hidden;
   position: absolute;
   top:100%;
   right:100%;

   a,p{
      color:white;
      display: inline-block;
      padding:10px;
   }

}

.left a:focus .dropdown-content{
   max-height: 200px;
   transition: max-height 0.5s;
   right:auto;

}

.none{
   //display: none !important;
   width: 0 !important;
   padding:0 !important;
   visibility: hidden;
   //transform: scaleX(0);
}

.none ul, .none i{
   display: none !important;
}




nav {

   width:100%;
   background-color: #121d30;
   position: fixed;
   z-index: 1000;

   .container{
      display: flex;
      height:50px;
      align-items: center;
      justify-content: space-between;
   }

   .left{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      a{
         display: flex;
         height: 100%;
         align-items: center;
         justify-content: center;
         height: 100%;
         padding: 0 14px;
         color:rgba(240,240,240,0.9);
         font-size: 14px;

         &:first-child{
            color:rgba(250,250,250,1);
         }

         &:hover{
            background-color: darken(#121d30,7%);
         }
      }
   }

   .right{
      height: 100%;
      width:50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      outline: none;

      p{
         width:100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor:pointer;
         border-left: 1px solid rgba(240,240,240,0.2);

         span{
            color:rgba(240,240,240,1);

            font-size: 35px;

            transform: rotate(-40deg);
         }

         &:hover{
            background-color: darken(#121d30,7%);
         }
      }

   &:focus .dropdown-content{
      max-height: 200px;
      transition: max-height 0.8s;
      outline: none;
   }


   }
}

header{
   background-color:#454e5c;

   .mainheader{
      padding-left: 50px;
      padding-top: 60px;
      padding-bottom: 60px;


      h1{
         text-transform: capitalize;
         color:white;
         font-size: 36px;
         font-weight: bold;

         span{
            font-size: 18px;
            color: darken(white,10%);
            font-style: italic;
            font-weight: 500;
            display: inline-block;
            transform: translateY(-20px);
         }
      }
   }

   .bottomheader{

      display: flex;
      height: 60px;
      >div:first-child{
         width:23%;
         background-color: #16cfc1;
         justify-content: space-between;
         color:rgba(250,250,250,0.8);
         font-weight: bold;
         transition: all 1s;


         ul{
            display: flex;
            font-size: 130%;
            // /transform: translateY(-3px);

            li{
               padding-right: 10px;
            }
         }
      }
      >div:nth-child(2){
         background-color: white;
         width:60%;
         color:#666;
         font-weight: bold;
         font-size: 95%;
         border-bottom: 1px solid #eee;
         border-top: 1px solid transparent;
         transition: width 1s;

         span{
            color:#aaa;
         }

      }
      >div:nth-child(3){
         background-color: #efb93f;
         width:17%;
         font-weight: bold;
         color:rgba(250,250,250,0.8);
         transition: all 1s;
      }
      div{
         display: flex;
         align-items: center;
         padding-left: 30px;

         text-transform: uppercase;
      }
   }

}

////Start of maincontent


section.mainsection{

   .container{
      background-color: lighten(rgba(230,230,230,1),0%);
      display: flex;

   }

   .discover{
      padding:30px 30px;;
      color:#444;
      width: 23%;
      font-size: 90%;
      transition: all 1s;

      >h2{
         padding-bottom: 20px;
         text-transform: uppercase;
         font-weight: bold;
      }
      >ul{
         display: flex;
         flex-direction: column;

         li{
            border-bottom:1px solid rgb(200, 200, 200);
            padding-bottom: 10px;
            padding-top: 13px;

            &:last-child{
               border-bottom: none;
            }
         }

         h4{
            color: #16cfc1;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;
         }



         img{
            width: 100%;
            margin-bottom: 13px;
         }
      }
   }

   .blog{
      background-color: white;
      width: 60%;
      padding:30px;
      padding-bottom: 0;
      transition: width 1s;




      h4{
         color: #16cfc1;
         font-weight: bold;
         text-transform: uppercase;
         margin-bottom: 10px;
      }

      img{

         width: 100%;
         margin-bottom: 10px;
      }
      p{
         margin-top: 10px;
         margin-bottom: 10px;
      }

      .hero{
         border-bottom: 1px solid rgba(0,0,0,0.2);
      }

      .row{
         display: flex;
         justify-content: space-between;
         padding-top: 30px;
         padding-bottom: 30px;
         border-bottom: 1px solid rgba(0,0,0,0.2);

         >div{
            width:47%;


         }
         &.last{
            border-bottom: 10px solid transparent;
         }
      }
   }
   .multiselect{
      padding:30px;
      width:17%;
      transition: all 1s;

      h1{
         font-size: 80%;
         font-weight: bold;
         margin-bottom: 20px;
      }

      ul.tabs{
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 30px;

         li{
            width:25%;
            padding-bottom: 10px;
            border-bottom: 3px solid lighten(grey,30%);
            display: flex;
            justify-content: center;
            font-size: 110%;
            transition: all 0.6s;

            &:hover{
               border-bottom: 3px solid lighten(grey,20%);
               color: rgba(0,0,0,0.9);
               cursor:pointer;
            }

            &:first-child{
               border-bottom: 3px solid #efb93f;
            }
         }
      }

      ul.tabs-content{

         li{

            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding-bottom: 20px;

            &:not(:first-child){
               padding-top: 20px;
            }

            >div:first-child{
               width:39%;
            }
            >div:last-child{
               width:54%;
               padding-top: 0px;

               h4{
                  color:#efb93f;
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: bold;
                  margin-bottom: 10px;
               }
               p:not(.muted){
                  color:rgba(0,0,0,0.6);
                  line-height: 1.2;
                  font-size: 14px;
                  font-weight: 600;
                  margin-bottom: 10px;
               }
               p.muted{
                  font-size: 12px;
               }
            }


            img{
               width: 100%;
            }
         }
      }
   }
}

footer{
   background-color: #33363b;
   padding:35px;
   margin-top: 50px;

   .container{
      display: flex;
      justify-content: space-between;
      color:rgba(255,255,255,.5);
      font-size: 13px;
      padding:0 30px;

      p{
         margin-bottom: 10px;

      }
   }

   ul{
      display: flex;
      color:rgba(255,255,255,0.7);
      font-size: 36px;

      li{
         padding-left: 10px;
      }
   }



   img{
      width:170px;
      margin-bottom: 15px;
      filter:unset;
   }
}

//Utilities


.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
